<div class="form-style-10">

	<h1>Agenda Já</h1>

	<div class="glyphicon glyphicon-user">
	<p> <span class="glyphicon" aria-hidden="true"></span><%= link_to 'Contatos', contacts_path %></p> </div>
	<p><%= link_to 'Categorias',kinds_path %></p> 


</div>
